body {
	margin: 0px;
	padding: 0px;
}
/*Header*/
header {
	width: 100%;
	position: absolute;
	top: 0;
}
header ul {
	list-style: none;
	padding: 10px;
}
#nav-bar-left {
	float: left;
}
#nav-bar-right {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul a {
	text-decoration: none;
	color: #000;
}
header ul a:hover {
	text-decoration: underline;
	color: rgba(0,0,0,0.8);
}
#nav-bar-left li {
	padding-left: 15px;
}
#nav-bar-right	li {
	padding-right: 15px;
}
/*Header End*/

/*Search Area*/
h1 {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 20px;
}
h1 span {
	font-size: 2.5em;
	margin: 0 -2px;
}
#g1 {
	color: #4286f4;
}
#o2 {
	color: #ea4435;
}
#o3 {
	color: #fbbc05;
}
#g4 {
	color: #4286f4;
}
#l5 {
	color: #34a853;
}
#e6 {
	color: #ea4435;
}
.form {
	width: 482px;
	height: 44px;
	margin: auto;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
}
.form:hover {
	box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}
#search {
	width: 90%;
	margin: 5px auto;
	line-height: 34px;
	font-size: 1.2em;
	display: block;
	border: none;
}
#search:focus {
	outline: none;
}

.button {
	width: 482px;
	height: 70px;
	margin: 40px auto;
	position: relative;
}
.button input {
	font-size: 14px;
	line-height: 34px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	padding: 0 16px;
	color: #5F6368;
	background-color: #f2f2f2;
}
.button input:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #c6c6c6;
	color: #222;
	cursor: pointer;
}
#google-search {
	position: absolute;
	left: 100px;
}
#feeling-lucky {
	position: absolute;
	right: 100px;
}
/*Search Area End

/*Footer*/
footer {
	width: 100%;
	height: 45px;
	position: absolute;
	bottom: 0;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
footer ul {
	list-style: none;
	padding: 10px;
	margin-top: 3px;
}
#footer-left {
	float: left;
}
#footer-right {
	float: right;
}
footer ul li {
	display: inline-block;
}
footer ul a {
	text-decoration: none;
	color: #646464;
}
footer ul a:hover {
	text-decoration: underline;
}
#footer-left li {
	padding-left: 15px;
}
#footer-right li {
	padding-right: 15px;
}
/*Footer End*/